<div ng-controller="DashboardController">
  <div id="page-wrapper" ng-class="{'open': toggle}" ng-cloak>

    <!-- Sidebar -->
    <div id="sidebar-wrapper">
      <ul class="sidebar">
        <li class="sidebar-main">
          <a ng-click="toggleSidebar()">
            <img src="img/logo.png" alt="Absolute Software" />EM POC
            <span class="menu-icon glyphicon glyphicon-transfer"></span>
          </a>
        </li>
        <li class="sidebar-title"><span>NAVIGATION</span></li>
        <li class="sidebar-list">
          <a href="#/">Dashboard <span class="menu-icon fa fa-tachometer"></span></a>
        </li>
        <li class="sidebar-list">
          <a href="#/Reports">Reports <span class="menu-icon fa fa-bar-chart"></span></a>
        </li>
        <li class="sidebar-list">
          <a href="#/DeviceGroup">DeviceGroup <span class="menu-icon fa fa-clone"></span></a>
        </li>
        <li class="sidebar-list">
          <a href="#/DeviceGroup">....</span></a>
        </li>
      </ul>
      <div class="sidebar-footer">
        <div class="col-xs-6">

          <a href="#/" target="_blank">
            <i class="fa fa-leaf" style="color:#3A5F0B; font-size:15px"></i> &nbsp;
            Green Tea
          </a>
        </div>
      </div>
    </div>
    <!-- End Sidebar -->

    <div id="content-wrapper">
      <div class="page-content">

        <!-- Header Bar -->
        <div class="row header">
          <div class="col-xs-12">
            <div class="user pull-right">
              <div class="item dropdown" uib-dropdown>
                <a href="#" class="dropdown-toggle" uib-dropdown-toggle>
                  <img src="{{avatorImg}}">
                </a>
                <ul class="dropdown-menu dropdown-menu-right">
                  <li class="dropdown-header">
                    {{currentUser.fullname}}
                  </li>
                  <li class="divider"></li>
                  <li class="link">
                    <a href="#">
                      Profile
                    </a>
                  </li>
                  <li class="link">
                    <a href="#">
                      Setting
                    </a>
                  </li>
                  <li class="divider"></li>
                  <li class="link">
                    <a href="#" ng-click="logout()">
                      Logout
                    </a>
                  </li>
                </ul>
              </div>
              <div class="item dropdown" uib-dropdown ng-if="hasNewEvent" on-toggle="toggled(open)">

                <a href="#" class="dropdown-toggle"  uib-dropdown-toggle>
                  <!-- <i class="fa fa-bell-o" style="font-size:13px"></i> -->
                  <div style="margin-top:13px;margin-left:15px" class="notification-icon"></div>
                </a>
                <ul class="dropdown-menu dropdown-menu-right">
                  <li class="dropdown-header">
                    Event occurred in "{{newEventNotificationMonitorName}}" monitor
                  </li>
                </ul>
              </div>
            </div>
            <div class="meta">
              <div class="page">
                Dashboard
                <span style="padding-left:10px;font-size:12px">({{currentUser.fullname}} - {{currentUser.accountId}})
                </span>
              </div>
              <div class="breadcrumb-links">
                Home / Dashboard
              </div>
            </div>
          </div>
        </div>
        <!-- End Header Bar -->

        <!-- Main Content -->
        <div>
          <div class="row alerts-container">
            <div class="col-xs-12">
              <uib-alert type="success">Check out! There are some new events occurred in the system!
                <a href="javascript:void(0)" class="pull-right" ng-click="OnSettingClick()">
                  <i class="fa fa-cog" style="font-size:15px"></i>
                </a>
              </uib-alert>
            </div>
          </div>

          <div class="row">
          	<div class="col-lg-3 col-md-6 col-xs-12" ng-repeat="monitor in currentUser.monitors" >

          		<widget>
                <div style="position: absolute; top: 4px;right: 23px;">
                  <a href="javascript:void(0)" ng-click="OnRefreshClick(monitor.monitorId)">
                    <i class="fa fa-refresh"></i>
                  </a>
                </div>
                <div style="position: absolute; bottom: 4px;right: 23px;">
                  <a href="javascript:void(0)" ng-click="OnResetClick(monitor.monitorId)">
                  <i class="fa fa-trash-o"></i>
                 </a>
                </div>
          			<widgetbody>
          				<div class="widget-icon {{monitor['icon-color']}} pull-left">
          					<i class="fa {{monitor.icon}}"></i>
          				</div>
          				<div class="title">{{monitor.count}}</div>
          				<div class="comment">{{monitor.name}}</div>
          			</widgetbody>
          		</widget>
          	</div>

          </div>

        </div>

      </div><!-- End Page Content -->
    </div><!-- End Content Wrapper -->
  </div><!-- End Page Wrapper -->

  <div class="modal fade" tabindex="-1" role="dialog" id="settingModal" tabindex="-1">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Event Monitors Setting</h4>
        </div>
        <div class="modal-body">
          <ul class="unstyled">
            <li ng-repeat="monitor in monitors">
              <label class="checkbox">
                <input type="checkbox" ng-model="monitor.selected">
                <span>{{monitor.name}}</span>
              </label>
            </li>
          </ul>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" ng-click="OnSaveSettingClick()">Save changes</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->



</div>
