  <div class="modal-dialog">
    <div class="loginmodal-container">
    	<h1><img src="img/logo.png" alt="Absolute Software" />DDS Login</h1><br>
      <form>
      	<input id="username" type="text" name="user" placeholder="Username">
      	<input id="password" type="password" name="pass" placeholder="Password">
      	<input type="submit" name="login" class="login loginmodal-submit" value="Login" ng-click="login()">
      </form>
      <div class="login-help">
    	  <a href="#">Forgot Password</a>
      </div>
    </div>
  </div>
